<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © OpenRoles.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Powered by <a href="#!" class="text-decoration-underline">OpenRoles Team</a>
                </div>
            </div>
        </div>
    </div>
</footer>